
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

.blog_detail_container  { 
	width: 1440px;
    max-width: 100%;
    padding: 0 150px;
 
  
   
} 





.blog_head_img{

    position: relative;
    width: 1440px;
    max-width: 100%;
    height: 550px;

}
.blog_head_img img{
    width: 100%;
}
  
  /* Display list items side by side */
  .breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  .breadcrumb li+li:before {
    padding: 8px;
    color: var(--White-500, #FFF);
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  .breadcrumb li a {
color: var(--White-500, #FFF);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

    /* Body-1 Regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  
  /* Add a color on mouse-over */
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .blog_img_text{
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 10;
  }
  .blog_head_img h2{
    color: var(--White-500, #FFF);

/* Header-2 Bold */
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */

  }
  .likes_comments{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
  .likes{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .comments{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .blog_card_detail_img{
    width: 100%;
   height: 390px;

  }
  .blog_card_detail_data{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .blog_card_detail_img img{
    width: 100%;
  }
  .blog_card_detail_data{
    width: 750px;
  }
  .blog_card_detail_data h1{
    align-self: stretch;
    
    color: var(--Dark-500, #0E140F);

/* Header-4 Bold */
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 150px;
    
  }
  .blog_card_detail_data p{
    
    color: var(--Dark-500, #0E140F);
    text-align: justify;

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

  }
  .detail_property_part1{
    width: 5px;
height: 190px;
flex-shrink: 0;
background: var(--Primary-500, #50945D);

  }
  .detail_property_part2_child{
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .detail_property_part2_child p{
   
    color: var(--Dark-500, #0E140F);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
  }

  .detail_property_part2{
    display: flex;
width: 471px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
  }

  .detail_property{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .all_comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .comment_person{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

  }
  .comment_person_about{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .comment_person_name{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .comment_person_name h2{
    color: var(--Dark-500, #0E140F);

/* Body-1 Bold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
  }
  .comment_person_name span{
    color: var(--Dark-500, #0E140F);

/* Body-2 Regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */

  }
  .comment_form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .comment_form input{
    display: flex;
width: 750px;
height: 56px;
padding: 16px 16px 14px 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border: 0;
color: var(--gray-gray-80, rgba(174, 180, 175, 0.80));

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

  }
  .comment_form textarea{
    display: flex;
width: 750px;
height: 104px;
padding: 16px 16px 14px 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border: 0;
color: var(--gray-gray-80, rgba(174, 180, 175, 0.80));

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

  }
  .comment_form label{
    color: var(--Dark-500, #0E140F);

/* Caption Regular */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
  }
  .comment_form button{
    display: flex;
width: 139px;
height: 56px;
padding: 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: var(--Primary-500, #50945D);
border: 0;
color: #FFF;
  }
  .blog_card_detail{
    display: flex;
  }
.blog_card_detail_part2{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
  .blog_search{
    display: flex;
    align-items: center;
    
    gap:10px;
  }
  .blog_search input{
    color: var(--gray-gray-80, rgba(174, 180, 175, 0.80));

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
  }

  .recent_posts{
    width: 340px;
height: 412px;
flex-shrink: 0;
border-radius: 20px;
background: var(--White-500, #FFF);


/* DS_1 */
box-shadow: 0px 55px 70px 0px rgba(0, 0, 0, 0.03), 0px 55px 70px 0px rgba(0, 0, 0, 0.02);
display: flex;
flex-direction: column;
gap: 30px;

  }
  .recent_post{
    display: flex;
    gap: 10px;
    align-items: center;
    
  }
  .recent_post_data{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .recent_posts h1{
    color: var(--Dark-500, #0E140F);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
  }
  .recent_post_data h2{
    color: var(--Dark-500, #0E140F);

/* Header-7 Bold */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 144.444% */

  }
  .recent_post_data span{
    color: var(--Dark-500, #0E140F);

/* Body-2 Regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
  }
  .blog_categories{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
.blog_categories ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog_categories h1{
  color: var(--Dark-500, #0E140F);

/* Header-6 Bold */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
.blog_categories ul li a{
  color: var(--Dark-500, #0E140F);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}