
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body { 
	font-family: Arial, sans-serif; 

} 

.doctor_container  { 
	width: 1440px;
    max-width: 100%;
   
} 

.pagination { 
	text-align: end;
	margin: 100px;
} 

.pagination a { 
	color: #007BFF; 
	padding: 8px 16px; 
	text-decoration: none; 
	border: 1px solid #007BFF; 
	margin: 0 5px; 
	border-radius: 4px; 
} 

.pagination a:hover { 
	background-color: #007BFF; 
	color: white; 
} 

.pagination .active { 
	background-color: #007BFF; 
	color: white; 
} 


.doctor_card-container { 
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
    margin-top: 50px;
	
} 


#page-numbers { 
	margin-top: 20px; 
	font-size: 16px; 
}
.doctor_head_img{
    position: relative;
    
    height: 550px;

}
.doctor_head_img img{
    width: 100%;
}
  
  /* Display list items side by side */
  .breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  .breadcrumb li+li:before {
    padding: 8px;
    color: var(--White-500, #FFF);
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  .breadcrumb li a {
color: var(--White-500, #FFF);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

    /* Body-1 Regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  
  /* Add a color on mouse-over */
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .doctor_img_text{
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 10;
  }
  .doctor_img_text h2{
    color: var(--White-500, #FFF);

/* Header-2 Bold */
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */
  }

  :root{
    --col_doctor-:3;
   }
   
.card_doctor{
  width: calc(1138px/var(--col_doctor-) - 30px ); 
   height: 431px;
   
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
 }
 .card_doctor_img{
   margin-top: 10px;
   width: 186px;
 height: 256px;
 
 }
 .card_doctor h4  {
   color: var(--Dark-500, #0E140F);
 text-align: center;
 
 /* Header-6 Bold */
 font-family: Roboto;
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: 30px; /* 150% */
 } 
 .card_doctor span{color: var(--Gray-500, #AEB4AF);
   text-align: center;
   
   /* Body-1 Regular */
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */}
 
   .card_doctor_contact{
       display: flex;
      gap: 20px;
      align-items: center;
   }
   .card_doctor_contact a img{
       width: 24px;
 height: 24px;
   }
 .card_doctor_contact a{
   display: inline-block;
   width: 50px;
 height: 50px;
 padding-top: 13px;
 padding-left: 13px;
 
 border-radius: 10px;
 border:1px solid #50945D
 
 }
 