*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
.signup_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.signup_img_container{
    width: 50%;
    height: 100%;
}
.signup_img_container >img{
    width: 100%;
    height: 100%;
}
.signup_form_container{
    display:flexbox;
    width: 50%;
    height: 100%;
}
.signup_logo{ 
    width: 100%;
    height: 200px;
}
.signup_form{
    width: 100%;
    padding: 50px;
}
form{
    width: 80%;
}
.signup_input{
border: solid green 1px  ; 
border-radius: 10px;
height: 55px;  
width: 100%;
}
button{
    width: 100%;
    height: 40px;
    background-color: green;
    border-radius:10px ;
    border: none;
}