{% extends "alfa.html" %}

{% load static %}

{% block body %}
<div class="doctor_head_img">
    <img src="{% static '/images/doctors/doctor_head.png' %}" alt="">
    <div class="doctor_img_text">
        <h2>Our Doctors</h2>
        <ul class="breadcrumb">
          <li><a href="#">Home </a></li>
          <li><a href="#">Services</a></li>
        </ul>
        

    </div>
</div>
<div class="doctor_container">
   
    <div id="data-container">
       
        
        <div class="doctor_card-container"> 
            
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>

            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
            <div class="card_doctor">
                <div class="card_doctor_img">
                  <img src="{% static '/images/doctors/jhanson.png' %}" alt="">  
                </div>
                
                <h4>Johnson Smith</h4>
                <span>Orthopaedics Specialist</span>
                <div class="card_doctor_contact">
                    <a href=""><img src="{% static '/images/doctors/fb.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/linkedin.png' %}" alt=""></a>
                    <a href=""><img src="{% static '/images/doctors/twitter.png' %}" alt=""></a>
                </div>
            </div>
      
       
            <!-- Add more cards as needed -->
        </div> 
    </div> 

    <div class="pagination" id="pagination"> 
        <a href="#" id="prev">Previous</a> 
        <a href="#" class="page-link" data-page="1">1</a> 
        <a href="#" class="page-link" data-page="2">2</a> 
        <a href="#" class="page-link" data-page="3">3</a> 
        
        <a href="#" id="next">Next</a> 
        <p id="page-numbers"> </p> 
    </div>
   
    
</div>

{% endblock body %}